/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

#personal_picture {
	max-width:200px; 
	max-height:250px;
	margin-top:50px;
	margin-left:50px;
	border-radius:20px;
}



